body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

.page {
  width: 100%;
  max-width: 210mm;
  /* close to full A4 width */
  margin: 0 auto;
  padding: 10px 30px 40px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
}

.hospital-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* Move logo to top-right of the header */
.logo {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  margin: 20px 45px 0px 0px;
}

.hospital-title {
  text-align: center;
}

.hospital-name {
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 88px;
}

.form-title {
  font-weight: bold;
  margin-top: 4px;
  font-size: 25px;
  /* text-decoration: underline; */
}

.clearance-form {
  margin-top: 10px;
  padding: 0 20px;
  /* left & right only */
}

.clearance-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  /* border: 1px solid #000; */
}

.clearance-table td {
  /* border: 0px solid #000; */
  padding: 5px 3px 0px 0px;
  /* margin-top: 10px; */
  /* vertical-align: top; */
  height: 40px;
  text-align: right;
  font-size: larger;

}

.disborder{
  border-left: 1px solid #000;
}
.disborder1{
  border-right: 1px solid #000;
}
.disborder2{
  border-top: 1px solid #000;
}
.disborder3{
  border-bottom: 1px solid #000;
}















.label {
  /* width: 40%; */
}

.clearance-table input {
  width: 98%;
  box-sizing: border-box;
  padding: 3px 4px;
  /* border: 1px solid #999; */
  font-size: large;
  border: none;
  /* margin: 0px 0px 0px 10px; */
}

.clearance-table input[readonly] {
  /* background-color: #f0f2f7; */
  font-weight: bold;
}


.section-separator td {
  border-top-width: 2px;
}

/* Solid border outline around Date/Patient/IP block */
.date-block td {
  border-left-width: 2px;
  border-right-width: 2px;
}

.date-blocks td {
  border-bottom-width: 2px;
}

.date-block-top td {
  border-top-width: 2px;
}

/* .date-block-bottom td {
  border-bottom-width: 2px;
} */

.hospital-discount-cell {
  width: 25%;
  text-align: center;
}

#hospitaldiscount {
  text-align: center;
}

.hospital-discount-label {
  font-size: large;
  margin-bottom: 4px;
  margin-top: 10px;
}

/* T/D section below discount */
.td-section {
  margin-top: 10px;
  /* width: 60%; */
  /* display: flex; */
  /* padding-left: 10px; */
}
.td-section label {
  display: flex;
  align-items: center;
}

#tdEnable{
  margin: 0px 2px 0px 0px;
}
.td-section input[type="checkbox"] {
  width: 15px;
  height: 15px;
  /* margin-bottom: 90px; */
  /* margin-right: 6px; */
}
#tdInfo {
  text-align: left;
  margin: 2px 10px 0px 0px;
  width: 40%;
}

.td-section .td-label {
  margin-right: 4px;
  width: 50px;
  /* text-align: center; */
  /* padding-top: 0px; */
  /* display: flex; */
}

.td-section input[type="number"] {
  width: 30%;
  box-sizing: border-box;
  padding: 2px 4px;
  border: 1px solid #999;
  font-size: 11px;
}

.td-section>input {
  width: 10px;
  box-sizing: border-box;
  text-align: right;
  /* padding: 2px 4px; */
  /* border: 1px solid red; */
  font-size: 17px;
}

.hospital-discount-cell input {
  width: 90%;
  text-align: center;
}

.remarks-block {
  margin-top: 10px;
}

.remarks-block textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  border: none;
  font-size: 12px;
  margin-bottom: 30px;
  height: 90px;
  /* resize: vertical; */
}

.signatures {
  display: flex;
  justify-content: space-around;
  /* margin-top: 40px; */
  font-size: 20px;
}

.signature {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  font-size: 20px;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 6px 14px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #333;
  cursor: pointer;
  background-color: #f5f5f5;
}

#pdfFile{
  fill: rgb(82, 82, 82);
  color: black;
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  border: 2px dashed rgb(82, 82, 82);
  cursor: pointer;
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 40px;
}

#mergeBtn {
  background-color: #005c99;
  color: white;
  border-color: #005c99;
}

button[type="reset"] {
  background-color: #e0e0e0;
}

/* A4 page setup for printing */
@page {
  size: A4;
  margin: 10mm;
}

/* Print styles */
@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }

  .page {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    border: none !important;
    /* remove outer border on print */
  }

  /* Hide buttons on printed/downloaded page */
  .form-actions {
    display: none !important;
  }

  /* Remove borders from input boxes when printing */
  .clearance-table input {
    border: none !important;
    outline: none !important;
  }

  /* Only show T/D on printed page when its checkbox is checked */
  .td-section input[type="checkbox"]:not(:checked) + .td-label,
  .td-section input[type="checkbox"]:not(:checked) ~ input[type="number"] {
    visibility: hidden;
  }

  /* Remove border from Remarks box when printing */
  .remarks-block textarea {
    border: none !important;
    outline: none !important;
  }
}