* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

body {
  background-color: #EBF4F6;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}




@media (max-width: 600px) {
  .box9 {
    display: none;
  }

  #desktop-note {
    display: none;
  }

  .brandp {
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .brandp>.brandAp>a {
    display: flex;
    text-decoration: none;
  }

  div>a>.two,
  .three,
  .four,
  .five,
  .six {
    background: #088395;
    width: 16px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EBF4F6;
  }

  .one {
    border-radius: 10px 0px 0px 10px;
    background: #088395;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EBF4F6;
  }

  .seven {
    border-radius: 0px 10px 10px 0px;
    background: #088395;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EBF4F6;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #071952;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 1px 0px 15px 0.5px #071952;
  }

  .menu-toggle {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background: #EBF4F6;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-overlay {
    position: fixed;
    top: 45px;
    left: 0;
    width: auto;
    /* height: calc(65vh - 60px); */
    border-radius: 6px;
    background: #071952;
    backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 999;
    overflow-y: auto;
    padding: 30px 20px 10px 20px;
  }

  .menu-overlay.active {
    transform: translateX(0);
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  }

  .menu-list {
    list-style: none;
  }

  .menu-item {
    margin-bottom: 15px;
    opacity: 0;
    transform: translateX(-20px);
  }

  .menu-overlay.active .menu-item {
    animation: fadeInLeft 0.5s ease forwards;
  }

  .menu-overlay.active .menu-item:nth-child(1) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(2) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(3) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(4) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(5) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(6) {
    animation-delay: 0.3s;
  }

  .menu-overlay.active .menu-item:nth-child(7) {
    animation-delay: 0.3s;
  }
  .menu-overlay.active .menu-item:nth-child(8) {
    animation-delay: 0.3s;
  }
  .menu-overlay.active .menu-item:nth-child(9) {
    animation-delay: 0.3s;
  }

  @keyframes fadeInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .menu-link {
    color: #EBF4F6;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 12px 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
    background: #088395;
    display: flex;
    align-items: center;
  }

  .menu-link:hover {
    background: #37B7C3;
    color: #071952;
    transform: translateX(5px);
  }

  .icon {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
  }

}

@media(max-width: 600px) {
  .grid-container {
    max-width: 70% 30%;
    grid-auto-rows: auto;
    margin: 10px;
    display: grid;
    gap: 1em;
    text-align: center;
    justify-content: center;
    grid-template-areas:
      "box-1 box-1 box-2"
      "box-3 box-3 box-3"
      "box-4 box-5 box-5"
      "box-6 box-6 box-6"
      "box-7 box-7 box-8";
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9 {
    background-color: #EBF4F6;
    border-radius: 6px;
    /* box-shadow: 0px 0px 8px 0.5px #37B7C3; */
    width: auto;
    height: auto;
  }

  .box1 {
    grid-area: box-1;
  }

  .box2 {
    grid-area: box-2;
  }

  .box3 {
    grid-area: box-3;
  }

  .box4 {
    grid-area: box-4;
  }

  .box5 {
    grid-area: box-5;
  }

  .box6 {
    grid-area: box-6;
  }

  .box7 {
    grid-area: box-7;
  }

  .box8 {
    grid-area: box-8;
  }

  .box9 {
    grid-area: box-9;
  }

  /* "box-1 box-2"
  "box-3 box-2"
  "box-4 box-5"
  "box-6 box-6"
  "box-7 box-8" */

  /* "box-1 box-1 box-2"
  "box-3 box-3 box-3"
  "box-4 box-5 box-5"
  "box-6 box-6 box-6"
  "box-7 box-8 box-9" */
  .headingd,
  .headingparad {
    display: none;
  }

  .heading {
    display: flex;
    justify-content: center;
    margin: 20% 0% 0% 0%;
    color: #071952;
    font-weight: 800;
    font-size: 22px;
  }

  .heading1 {
    display: flex;
    justify-content: center;
    margin: 0% 0% 2% 0%;
    color: #071952;
    font-weight: 800;
    font-size: 22px;
  }

  .headingpara {
    margin: 0% 15px 5% 15px;
    color: #06202B;
    font-size: 18px;
  }

  .card>h4 {
    margin: 20px 0px 0px 0px;
    padding: 30px;
  }


  .cards {
    cursor: pointer;
    border-radius: 6px;
  }

  .card-image>a>img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: center;
  }

  .card-image:hover {
    transform: scale(0.98);
  }

  .card>.card1>h4 {
    font-size: 22px;
    color: #071952;
    margin-bottom: 0px;
    padding: 0px;
    font-weight: 600;
  }

  .card p.small {
    font-size: 16px;
    color: #06202B;
  }

  .card1 {
    display: block;
    position: relative;
    background-color: #EBF4F6;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }

  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #37B7C3;
    border-radius: 0 4px 0 32px;
  }

  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: #EBF4F6;
    font-family: courier, sans;
  }

  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #37B7C3;
    height: 60px;
    width: 60px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card1:hover:before {
    transform: scale(21);
  }

  .card1:hover p {
    transition: all 0.3s ease-out;
    color: #EBF4F6;
  }

  .card1:hover {
    transition: all 0.3s ease-out;
    color: #EBF4F6;
  }

  .navborder {
    display: none;
  }



  .footerhh {
    margin: 5%;
    border: 1px solid #071952;
  }

  footer>p {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: #06202B;
    opacity: 0.6;
  }

  .services>h3,
  .about>h3,
  .careers>h3 {
    color: #06202B;
    font-size: 20px;
    font-weight: 700;
  }

  .containers {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0% 10% 2% 10%;
  }

  .about>ul>li>a,
  .careers>ul>li>a,
  .services>ul>li>a {
    list-style-type: none;
    text-decoration: none;
  }

  .fafaheading {
    margin: 5% 0px 0px 10%;
    font-size: large;
  }

  .fafaheading>ul>li>i {
    font-size: 22px;
    color: #071952;
    margin: 2% 0% 1% 0%;
  }

  .fafaheading>ul:hover {
    color: #088395;
  }
  .fafaheading>ul>li>i:hover {
    color: #088395;
  }

  .fafa {
    margin: 2% 0px 0px 10%;
  }

  .fafa,
  .fafa>a {
    display: flex;
    /* justify-content: center; */
    /* margin-left: 10%; */
    font-size: 25px;
    gap: 20px;
    color: #071952;
  }

  .fafa>a:hover {
    color: #088395;
  }

  .fafa>.fafaheading {
    display: inline-table;
  }

  .containers>.services>ul,
  .containers>.about>ul,
  .containers>.careers>ul,
  .containers>.services>ul>li>a,
  .containers>.about>ul>li>a,
  .containers>.careers>ul>li>a {
    color: #06202B;
    list-style-type: none;
    line-height: 25px;
    padding: 0px;
    margin-top: 10px;
    font-size: 16px;
  }

  .containers>.services>ul>li>a:hover {
    color: #088395;
  }

  .containers>.about>ul>li>a:hover {
    color: #088395;
  }

  .containers>.careers>ul>li>a:hover {
    color: #088395;
  }

  .copyright {
    margin-bottom: 2%;
  }
}



















@media(min-width: 601px) and (max-width: 1600px) {


  body {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #desktop-note {
    /* display: none; */
    padding: 50px;
    background-color: #EBF4F6;
    color: #088395;
    font-size: 1.2em;
  }

  .header,
  .menu-overlay,
  .navborder,
  .headingd,
  .headingparad,
  .grid-container,
  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .footerhh,
  .footerc {
    display: none;
  }

  .grid-container {
    max-width: 70% 30%;
    grid-auto-rows: auto;
    /* grid-template-columns: repeat(3, 1fr); */
    margin: 20px 60px 0px 60px;
    display: grid;
    gap: 1em;
    text-align: center;
    justify-content: center;
    grid-template-areas:
      "box-1 box-1 box-2"
      "box-3 box-4 box-4"
      "box-5 box-5 box-5"
      "box-6 box-6 box-6"
      "box-7 box-8 box-9";
  }

  .lists {
    margin: 10px 60px 0px 60px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-weight: 600;
  }

  .navlist>.lists>a {
    color: #3E5F44;
  }

  .listline {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  #companyname {
    appearance: none;
    border: 1px solid #93DA97;
    background-color: #93DA97;
    color: #3E5F44;
    font-weight: 600;
    font-size: medium;
    text-align: center;
  }

  #companyname>a {
    color: #3E5F44;
  }

  .navlist>.lists>.active,
  .listline:hover {
    color: #E8FFD7;
  }

  .lists>.listline:hover {
    color: #E8FFD7;
  }

  .brandcontact:hover {
    border-radius: 6px;
    color: #E8FFD7;
    cursor: help;
  }

  .navlist>.lists {
    margin-bottom: 4px;
  }

  .navborder {
    background-color: #93DA97;
    border-bottom: 3px solid #06202B;
    box-shadow: 0px 0px 20px 0.5px #93DA97;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 60px 0px 60px;
  }

  .brandA {
    margin-top: 10px;
  }

  .brand>.brandA>a {
    display: flex;
    text-decoration: none;
    gap: 1px;
  }

  div>a>.one,
  .two,
  .three {
    background: #3E5F44;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E8FFD7;
  }

  .brandB>.brandcontact>i {
    margin-right: 0.3125em;
  }

  .brandcontact {
    text-decoration: none;
    color: #3E5F44;
  }

  .navborder>.brand>.brandA:hover {
    transform: scale(1.2);
    transition: 2s;
  }

  .heading {
    display: flex;
    justify-content: center;
    margin: 3% 0% 2% 0%;
    color: #3E5F44;
    font-weight: 600;
    font-size: larger;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9 {
    background-color: #E8FFD7;
    border-radius: 6px;
    box-shadow: 1px 0px 15px 0.5px #93DA97;
    width: auto;
    height: auto;
  }

  .box1 {
    grid-area: box-1;
  }

  .box2 {
    grid-area: box-2;
  }

  .box3 {
    grid-area: box-3;
  }

  .box4 {
    grid-area: box-4;
  }

  .box5 {
    grid-area: box-5;
  }

  .box6 {
    grid-area: box-6;
  }

  .box7 {
    grid-area: box-7;
  }

  .box8 {
    grid-area: box-8;
  }

  .box9 {
    grid-area: box-9;
  }

  .heading,
  .heading1,
  .headingpara {
    display: none;
  }

  .headingd {
    display: flex;
    justify-content: center;
    margin: 3% 0% 0% 0%;
    color: #3E5F44;
    font-weight: 800;
    font-size: 22px;
  }

  /* .heading1 {
    display: flex;
    justify-content: center;
    margin: 0% 0% 2% 0%;
    color: #3E5F44;
    font-weight: 800;
    font-size: 22px;
  } */

  .headingparad {
    display: flex;
    justify-content: center;
    margin: 1% 60px 3% 60px;
    color: #3E5F44;
    font-size: 18px;
  }

  .cards {
    cursor: pointer;
    border-radius: 6px;
  }

  .card-image>a>img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    justify-content: center;
  }

  .card-image:hover {
    transform: scale(0.98);
  }

  .card>.card1>h4 {
    font-size: 22px;
    color: #3E5F44;
    /* margin-bottom: 0px; */
    /* padding: 0px; */
  }

  .card p.small {
    /* padding: 0px 5px 5px 5px; */
    font-size: 16px;
    color: #3E5F44;
  }

  .card1 {
    display: block;
    position: relative;
    background-color: #E8FFD7;
    color: #3E5F44;
    border-radius: 0px 0px 4px 4px;
    padding: 10px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  }

  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #93DA97;
    border-radius: 0 4px 0 32px;
  }

  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }

  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #93DA97;
    height: 40px;
    width: 40px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  .card1:hover:before {
    transform: scale(21);
  }

  .card1:hover p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }

  .card1:hover {
    transition: all 0.3s ease-out;
    /* color: #fff; */
  }

  .footerhh {
    margin: 5%;
    border: 1px solid #5E936C;
  }

  footer>p {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: #3E5F44;
    opacity: 0.6;
  }

  .services>h3,
  .about>h3,
  .careers>h3 {
    color: #3E5F44;
    font-size: 20px;
    font-weight: 700;
  }

  .containers {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0% 10% 2% 10%;
  }

  .about>ul>li>a,
  .careers>ul>li>a,
  .services>ul>li>a {
    list-style-type: none;
    text-decoration: none;
  }

  .fafa,
  .fafa>a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    gap: 20px;
    color: #3E5F44;
  }

  .fafa>a:hover {
    color: #5E936C;
  }

  .containers>.services>ul,
  .containers>.about>ul,
  .containers>.careers>ul,
  .containers>.services>ul>li>a,
  .containers>.about>ul>li>a,
  .containers>.careers>ul>li>a {
    color: #5E936C;
    list-style-type: none;
    line-height: 25px;
    padding: 0px;
    margin-top: 10px;
    font-size: 16px;
  }

  .containers>.services>ul>li>a:hover {
    color: #3E5F44;
  }

  .containers>.about>ul>li>a:hover {
    color: #3E5F44;
  }

  .containers>.careers>ul>li>a:hover {
    color: #3E5F44;
  }

  .menu-overlay {
    display: none;
  }

  .brandp {
    display: none;
  }
}